VITE_SUPABASE_URL=https://hhbkrxwbavirdoucsfmo.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhoYmtyeHdiYXZpcmRvdWNzZm1vIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg4OTQ4MDMsImV4cCI6MjA5NDQ3MDgwM30.gtW7AIiKaUpt93WW76JnLXSeNwt9uQy1Gtu9vlQnRqk
VITE_OCR_SPACE_API_KEY=K83161053988957